hostname {{ hostname }}

{% for interface in if_ip.keys() %}
interface eth{{ interface }}
no switchport
ip address {{ if_ip[interface] }}
{% endfor %}

router bgp {{ asn }}
{% for bgp_peer in bgp_neigh.keys() %}
neighbor {{ bgp_peer }} remote-as {{ bgp_neigh[bgp_peer]}}
{%- endfor %}
