hostname {{ hostname }}

{% for interface in ip_interfaces %}
interface eth{{ interface }}
no switchport
ip address {{ ip_interfaces[interface] }}
{% endfor %}

router bgp {{ asn }}
{% for neighbor in bgp_neighbors %}
neighbor {{ neighbor }} remote-as {{ bgp_neighbors[neighbor]}}
{%- endfor %}
